$v-font-size: 14px;
$v-font-family: "Open Sans", sans-serif;
$v-background-color: #fff;

@import "../valo/valo.scss";

@mixin zooTheme {
  @include valo;
  
  .v-slot-navPanel {
  	background: #eef2ff;
  }
  
  .v-slot-navPanel .v-button {
  	padding: 0 4px;
  	background: rgba(0,0,0,0);
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	-o-box-shadow: none;
  	box-shadow: none;
  	border: none;
  	font-size: 2vh;
  	margin-top: 0.6vh;
  	margin-left: 12px;
  }
  
  .v-slot-navPanel .v-button:focus:after {
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	-o-box-shadow: none;
  	box-shadow: none;
  	border: none;
  	background: rgba(0,0,0,0);
  }
  
  .v-slot-navPanel .v-button .v-button-wrap {
  	color: #1c278a;
  	text-decoration: underline;
  }
  
  .v-slot-navPanel .v-button:hover .v-button-wrap {
  	color: #4859ef;
  }
  
  .v-slot-navPanel .v-button:active .v-button-wrap {
  	color: #f11;
  }
  
  .v-table-header-wrap {
  	background: #353f9a;
  	color: #eef2ff;
  	font-weight: bold;
  }
  .v-checkbox input:checked + label {
    color: green;
}
  .v-checkbox input:not(:checked) + label {
    color: green;
}

}
